body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1{
  text-align: center;
  
}

.images-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  margin-top: 50px;
}

.avatar-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: red;
}

.avatar-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.avatar-text {
  font-size: 2rem;
  margin: 10px 0;
}

.avatar-btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  cursor: pointer;
}

.tenor-gif-embed {
  max-width: 400px; /* Control the size */
  margin: 20px auto; /* Center it with some spacing */
  border-radius: 10px; /* Rounded corners */
  overflow: hidden; /* Keeps content within rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow */
}

/* Style the links inside if needed */
.tenor-gif-embed a {
  color: #666;
  text-decoration: none;
  font-size: 12px;
}