body {
  max-width: 800px;
  margin: auto;
  padding: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  text-align: center;
}

figure {
  margin: 0;
  grid-row: 1 / -1;
  place-self: stretch;
  display: flex;
}

figure img {
  width: 120px;
  height: 100%;
  object-fit: cover;
}

figure figcaption {
  padding-left: 15px;
}

.itemContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(2, auto);
  place-items: center;
  border: 1px solid rgb(243, 133, 133);
  margin-top: 25px;
  padding-right: 1rem;
}